.title{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style: solid;
	flex-grow:1;
}

.title h1{
	margin-left:auto;
	margin-right:auto;
}

.information{
	display:flex;
	justify-content:center;
	text-align:center;
	border-style:solid;
	flex-grow:1;
}

.overall{
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	height:98vh;
}

.content{
	margin-top:5px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	flex-grow:100;
	margin-bottom:5px;
	max-height:80%;
}

.content img{
	width:50%;
}
.playerContent{
	max-width:34%;
}
.enemyContent{
	text-align:right;
	max-width:34%;
}
.gameContent{
	max-width:32%;
}